organization = "NASA"
email = "youremail@nasa.gov"

[directories]
wos = "WoS"
eosdis = "eosdis_csv_files"
output = "data"

[api]
serp_api_key = ""  # SerpAPI key for Google Scholar
scopus_api_key = ""  # Scopus API key 